service:
  name: needs-typescript

plugins:
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs10.x
  region: eu-central-1

  environment:
    DROBINKI_TOPIC: !Ref OutboxSNSTopic
    EVENTSTORE_TABLE: !Ref EventStoreTable

  iamRoleStatements:
    # Dynamo Event Store Permissions
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:GetItem
        - dynamodb:PutItem
      Resource:
        - !GetAtt EventStoreTable.Arn
    # Dynamo NeedTable Permissions
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:GetItem
        - dynamodb:PutItem
      Resource:
        - !GetAtt NeedTable.Arn
    # Dynamo HelloTable Permissions
    - Effect: Allow
      Action:
        - dynamodb:Query
        - dynamodb:GetItem
        - dynamodb:PutItem
      Resource:
        - !GetAtt HelloTable.Arn
    - Effect: Allow
      Action:
        - SNS:Publish
      Resource:
        - !Ref OutboxSNSTopic

functions:
  createHello:
    handler: functions/api/createHello.handler
    events:
      - http:
          method: post
          path: hello

  updateHello:
    handler: functions/api/updateHello.handler
    events:
      - http:
          method: put
          path: hello

  allHelos:
    handler: functions/api/allHellos.handler
    events:
      - http:
          method: get
          path: hello

  needProjector:
    handler: functions/infrastructure/needProjector.handler
    events:
      - sqs:
          arn: !GetAtt NeedsSQSQueue.Arn
          batchSize: 1
  helloProjector:
    handler: functions/infrastructure/helloProjector.handler
    events:
      - sqs:
          arn: !GetAtt NeedsSQSQueue.Arn
          batchSize: 1

  events2Sns:
    handler: functions/infrastructure/events2Sns.handler
    description: 'Streams Dynamo EventStore Events to SNS'
    events:
      - stream:
          type: dynamodb
          startingPosition: LATEST
          batchSize: 1
          enabled: true
          arn: !GetAtt EventStoreTable.StreamArn


resources:
  - ${file(resources/api-gateway.yml)}
  - ${file(resources/cognito-user-pool.yml)}
  - ${file(resources/event-store.yml)}
  - ${file(resources/need-table.yml)}
  - ${file(resources/outbox-sns.yml)}
  - ${file(resources/needs-sqs.yml)}
#  - ${file(resources/cloudfront-s3.yml)}

